.searchItemContainer {
    border: 1px solid #000000;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    max-width: 512px;
    margin-left: 500px;
    right: 100x;
}

.searchItemTitle {
    font-size: 20px;
    color: #2723dc;
}

.searchItemDetails {
    flex: 1;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
}

span.searchItemDetailsTime {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    margin-left: 50px;
}

.searchItemButton {
    background-color: #3dbee9;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 70px;
}