.registrationContainer {
    background-color: #3dbee9;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    max-width: 512px;
    width: 100%;
    margin-left: 550px;
    box-sizing: border-box;
    box-shadow: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.registrationList>form {
    .registrationListItem {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .registerButton {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-left: 70px;
        background-color: #2723dc;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }
    
    .registerButton:hover {
        background-color: #ffffff;
        color: #2723dc;
        cursor: pointer;
    }

}

