.header {
    background-color: #3dbee9;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100x 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItems {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItems.active {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer
}

.headerSearch {
    background-color: #ffffff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    margin-bottom: 20px;
    max-width: 250px;
    position: relative;
    border-radius: 20px;
}

.headerSearchItem>input {
    text-align: center;
    height: 20px;
}

.headerSearchItem>button {
    margin-bottom: 10px;
}