.navbar {
    height: 100px;
    background-color: #3dbee9;
    display: flex;
    justify-content: center;
}

.navbarContainer {
    width: 100%;
    max-width: 1024px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 50px;
    font-weight: bold;
}

.navButton {
    background-color: #3dbee9;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.navButton:hover {
    background-color: #ffffff;
    color: #3dbee9;
    cursor: pointer;
}